<form>
    <div class="form-row align-items-center">
        <div class="col-auto">
            <label for="inputCanalResgate">Canal de Resgate</label>
            <input type="text" class="form-control mb-2" id="inputCanalResgate">
        </div>
        <div class="col-auto">
            <label for="inputCanalResgate">Situação</label>
            <select class="custom-select mb-2">
                <option value="T" selected>Todas</option>
                <option value="A">Ativo</option>
                <option value="I">Inativo</option>
            </select>
        </div>
        <div class="col-auto" style="padding-top: 1.98rem;">
            <button type="submit" class="btn btn-primary mb-2">Pesquisar</button>
        </div>
    </div>
</form>