<nav class="navbar sifdl-cabecalho">
    <span class="navbar-brand sifdl-brand" href="#">SIFDL - Sistema de Fidelização</span>
    <div class="card">
        <div class="card-body">
            <div class="float-left d-none d-md-block">
                <p class="text-sm-left">Daniel Gonçalves Marini (c083347)</p>
                <p class="text-sm-left">Acesso: 19/01/2020 03:00</p>
                <p class="text-sm-left">Versão: 5.0.1</p>
            </div>
            <div class="float-right">
                <button type="button" class="btn btn-link" (click)="onLogout()"><i class="material-icons" 
                    data-toggle="tooltip" data-placement="bottom" 
                    data-html="true" title="Sair do sistema"
                    >exit_to_app</i></button>
            </div>
        </div>
    </div>
</nav>